.card-4 {
    position: relative;
    width: 15em;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    border: 0.5px solid #e9eaea;
    border-radius: 3px;
}

.content-img {
    padding: 2em 0;
    text-align: center;
    background: #e1f3ff;
}

.content {
    position: absolute;
    bottom: -35%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 35%;
    padding: 0.4em 0;
    background: #fff;
    transition: 0.3s;
}

.card-4:hover .content {
    bottom: 0;
}

.title,
.post-day {
    padding: 0 0.3em;
    margin: 0;
    font-size: 0.8em;
    line-height: 1.5;
}

.post-day {
    padding: 0 0.3em;
    font-size: 0.6em;
    color: #777;
}