.circle-frame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}