body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* パソコンの場合 */
@media screen and (max-width: 1279px) {
    .pc-header {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .sp-header {
        display: none;
    }
}

.pc-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.sp-header {
    background-color: #333;
    color: #fff;
    width: 50%;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}